/*Main*/

body {
  padding-top: 100px;
  background-image: url(images/abackground002.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: repeat;
  background-color: #000000;
  color: #FFFFFF !important;
  font-family: 'raleway';
  font-weight: 300;
}

nav.navbar {
  background-color: #000000 !important;
  color: #FFFFFF !important;
}


object{
  pointer-events: none;
}

img {
  display: block;
  max-width: 85%;
  height: auto;
}

.example-color::selection {
  color: #B3914B;
}

.nav-link {
  color: #FFFFFF !important;
}

a {
  color: #B1904F !important;
}

.card {
  color: #FFFFFF !important;
  font: 'raleway';
  font-size: 1em;
}

.cbd {
  font: 'raleway';
  font-size: 1em;
  background-color: rgb(255,255,255,0.1) !important;
}

.card-header {
  font: 'raleway';
  font-size: 1em;
  background-color: rgb(255,255,255,0.1) !important;
}

.subtitle {
  color: #757575 !important;
}

.footer {
  color: #FFFFFF !important;
  font: 'raleway';
  font-size: 1em; 
}

.portfolio-item {
  margin-bottom: 30px;
  font: 'raleway';
}

.btn {
  background-color: #B3914B;
}

.list-group-item {
    background-color: transparent !important;
}


/* HighCharts + JS Visuals */

/*! STACKED CHART */
#containerSChart {
  height: 400px; 
}

.highcharts-figure, .highcharts-data-table table {
  min-width: 310px; 
  max-width: 800px;
  margin: 1em auto;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #FFFFFF;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}
.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
}
.highcharts-data-table th {
	font-weight: 600;
  padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
  padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
  background: #FFFFFF;
}
.highcharts-data-table tr:hover {
  background: #FFFFFF;
}


/*! PIE CHART */
.highcharts-figure, .highcharts-data-table table {
  min-width: 320px; 
  max-width: 660px;
  margin: 1em auto;
}

.highcharts-data-table table {
font-family: Verdana, sans-serif;
border-collapse: collapse;
border: 1px solid #EBEBEB;
margin: 10px auto;
text-align: center;
width: 100%;
max-width: 500px;
}
.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}
.highcharts-data-table th {
font-weight: 600;
  padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
  padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}
.highcharts-data-table tr:hover {
  background: #f1f7ff;
}

/* CSS Animations */

/* Jiggle Button Animation */

.anim {
  animation: jiggle 3s ease-in infinite;
}

@keyframes jiggle {
  48%, 62% {
    transform: scale(1.0, 1.0)
  }
  50% {
    transform: scale(1.1, 0.9)
  }
  56% {
    transform: scale(0.9, 1.1) translate(0, -5px)
  }
  59% {
    transform: scale(1.0, 1.0) translate(0, -3px)
  }
}


a.yellow.button {
  background-color: black;
 
  border-radius: 0.5em;
  
  padding: 0.5em;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

a.yellow.button:hover {
  background-color: #B79144;
  -webkit-animation-name: greenPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-box-shadow: 0 0 18px #B79144;
}